{% extends "auctions/layout.html" %}

{% load utils %}

{% block body %}
<h2>Active Listings</h2>

<div class="d-flex align-content-start flex-wrap">
    {% for list in listings %}

    <div class="row">
        <div class="listing">
            <a href="{% url 'listing' list.id %}">
                <img src="{{ list.picture }}" alt="{{ list.short_name }}">
                <div class="listinfo">
                    <p id="title">{{ list.short_name | title }} </p>
                </div>
            </a>
            <div class="list-info">
                <p class="listbox"> <b>Price:</b> {{ list.higher_bid | usd }}</p>
                <p class="listbox"> Description: {{ list.description }}</p>
                <p class="date listbox"> Created: {{list.create_date}}</p>
            </div>
        </div>


    </div>

    {% empty %}
    <p>No Listings</p>
    {% endfor %}
</div>

{% endblock %}